.Card {
  background-color: rgba(234,235,229,1);
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba($color: #000000, $alpha: .5);
  transition: .3s;
  padding: 1rem 2rem;
  margin-top: 110px;
  z-index: 0;
  &:hover {
    height: auto;
  }
  &:hover .Content {
    opacity: 1;
    transform: translateY(-90px);
  }
}
.imgbox {
  position: relative;
  display: flex;
  height: 180px;
  width: 100%;
  // background-color: aqua;
  transform: translateY(-100px);
  z-index: 2;
  justify-content: center;

}
.Content {
  position: relative;
  margin-bottom: -90px;
  text-align: center;
  transition: .1s;
  z-index: 0;
  transform: translateY(-400px);
  opacity: 0;
}
